jupyterlab>=4.0
shiny>=1.0.0
shinywidgets>=0.3.0
shinylive>=0.8.5
altair>=5.0
vegafusion>=2.0.3
vl-convert-python
vega-datasets
pandas>=2.0
geopandas
dash>=2.18.1
geoarrow-pandas
pyogrio
plotnine
plotly>=5.24.1
anywidget>=0.9.13
pycountry>=22.3.5
seaborn
matplotlib
python-dotenv>=1.0.1
querychat @ git+https://github.com/posit-dev/querychat
chatlas[anthropic]
# Temporary workaround so connect cloud will pick up latest version
httpcore>=1.0.8

